/* General Settings */

@font-face {
  font-family: bold;
  src: url(../fonts/Quicksand-Bold.ttf);
}
@font-face {
  font-family: regular;
  src: url(../fonts/Quicksand-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "regular", sans-serif;
  --color1: #ffffff;
  --color2: #4259b1;
  --color3: #003263;
}

body {
  background: url(../images/martin-martz-rMRT4hF-Fsg-unsplash.jpg);
  background-size: cover;
  color: var(--color3);
}

/* Front Page Style */

header {
  min-height: 100vh;
}

h1 {
  margin-top: 10px;
  text-align: center;
  color: var(--color1);
  font-size: 5rem;
  text-decoration: underline;
  text-underline-offset: 15px;
  font-family: bold, sans-serif;
  text-shadow: 4px 8px 10px rgba(66, 89, 177, 0.58);
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroWrapper {
  margin: 50px 0;
  width: 100%;
}
/* Instructions */
.instructions {
  display: flex;
  justify-content: space-between;
}

.firstSentence,
.secondSentence {
  margin: 40px 0;
  backdrop-filter: blur(5px);
  color: var(--color1);
  font-size: 2.4rem;
  font-family: bold, sans-serif;
  width: 20%;
  border: 1px solid var(--color1);
  border-radius: 0 50px 50px 0;
  box-shadow: var(--color1) -5px 2px 13px;
  padding: 40px;
}

.secondSentence {
  border-radius: 50px 0 0 50px;
}
/* Header Logo */
.logo {
  min-width: 25%;
}

.firstLayer {
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  background: rgba(66, 89, 177, 0.38);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
}

.secondLayer {
  width: 16rem;
  height: 16rem;
  background: rgba(66, 89, 177, 0.38);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
}
.thirdLayer {
  width: 12rem;
  height: 12rem;
  background: rgba(66, 89, 177, 0.38);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.thirdLayer i {
  position: absolute;
}
.fa-check {
  font-size: 8rem;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.fa-pen {
  font-size: 4rem;
  left: 60%;
  top: 45%;
  transform: translateX(-50%);
}
/* Main Header Button */
#getStarted {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 50px auto;
  margin-top: 80px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  color: var(--color2);
  cursor: pointer;
  text-align: center;
}

/* Categories Pages */
main {
  min-height: 100vh;
}

/* Category Creation area */

.createCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  margin-bottom: 70px;
}

.createCategory h2 {
  color: var(--color1);
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 1.2rem;
  text-align: center;
}

.createCategory p {
  color: var(--color1);
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
}

/* Allows to display the paragraph on hover of the CreateCategory div */
.createCategory:hover p {
  visibility: visible;
}

.addCategory {
  width: 100px;
  height: 100px;
  background-color: transparent;
  color: var(--color1);
  border: none;
  border-radius: 50%;
  box-shadow: var(--color1) -2px 2px 13px;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Categories Wrapper */
.categoriesWrapper {
  width: 100%;
  margin: 0 auto;
  columns: 4;
}

/* The flex settings allow the categories to display in a masonry style */
.newCategory {
  width: 250px;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  break-inside: avoid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: var(--color1) -5px 2px 13px;
}

.categoryName {
  color: var(--color1);
  font-size: 1.5rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}

.categoryNameInput {
  width: 90%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--color1);
  font-weight: 900;
  font-size: 1.5rem;
  border: none;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
}

.categoryNameInput::placeholder {
  font-size: 1.5rem;
  color: var(--color1);
}

.newTask {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(82 135 187 / 20%);
  border: none;
  color: var(--color1);
  margin: 5px 10px 5px 0;
  border-radius: 20px;
  height: 70px;
  padding: 5px;
  flex-basis: calc((100% / 4) - 10px);
  cursor: pointer;
}
.newTask input {
  background-color: rgba(255, 255, 255, 0.2);
}
.newTask input,
.newTask input::placeholder {
  height: 20px;
  width: 70%;
  border-radius: 20px;
  color: var(--color1);
  border: none;
  padding: 5px;
  margin: 0 5px;
  font-size: 0.7rem;
}

.addNewTask {
  width: 33%;
  margin: 10px auto;
  border: 1px solid var(--color1);
  border-radius: 20px;
  height: 30px;
  background: transparent;
  color: var(--color1);
  box-shadow: var(--color1) 0px 0px 8px;
  cursor: pointer;
}

.confirmButton,
.cancelButton {
  border: none;
  border-radius: 50px;
  width: 30%;
  height: 20px;
  margin-top: 10px;
  margin-right: 5px;
}

.deleteCategoryButton {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.deleteTaskButton {
  border-radius: 50%;
  width: 10%;
  min-width: 20px;
}

.done {
  background-color: rgb(54 255 0 / 26%);
}
footer {
  border-top: 1px solid var(--color1);
  margin-top: 20px;
}
footer p {
  color: var(--color1);
  text-align: center;
  margin: 20px 0;
  font-size: 1.3rem;
}

@media screen and (max-width: 1300px) {
  .firstSentence,
  .secondSentence {
    font-size: 2.5rem;
  }
  .categoriesWrapper {
    columns: 3;
  }
}
@media screen and (max-width: 970px) {
  .categoriesWrapper {
    columns: 2;
  }
  .firstSentence,
  .secondSentence {
    font-size: 1.7rem;
    padding: 20px;
  }
}
@media screen and (max-width: 670px) {
  header h1 {
    font-size: 3rem;
  }
  .createCategory h2 {
    margin: 0 10px;
  }
  .categoriesWrapper {
    columns: 1;
  }
}
@media screen and (max-width: 500px) {
  .firstSentence,
  .secondSentence {
    font-size: 1.3rem;
  }
}
