@font-face {
  font-family: bold;
  src: url(../fonts/Quicksand-Bold.ttf);
}
@font-face {
  font-family: regular;
  src: url(../fonts/Quicksand-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "regular", sans-serif;
  --color1: #ffffff;
  --color2: #4259b1;
  --color3: #003263;
}

body {
  background-color: var(--color3);
  color: var(--color3);
}
/* Front Page Style */
nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 32px;
}

nav ul li {
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 0 0 50px 50px;
}

.categories {
  box-shadow: 0px 20px 0px #183d77;
  background-color: var(--color3);
}

.agenda {
  background-color: var(--color2);
  box-shadow: 0px 20px 0px rgba(66, 89, 177, 0.58);
}

.categories div,
.agenda div {
  background-color: var(--color1);
  padding: 0 20px;
  border-radius: 50px;
  margin: 20px 0;
}
a {
  text-decoration: none;
  color: var(--color2);
}
h1 {
  margin-top: 50px;
  text-align: center;
  color: var(--color1);
  font-size: 6rem;
  text-decoration: underline;
  text-underline-offset: 15px;
  font-family: bold, sans-serif;
  text-shadow: 4px 8px 10px rgba(66, 89, 177, 0.58);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroWrapper {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.firstSentence,
.secondSentence {
  background-color: var(--color1);
  color: var(--color2);
  font-size: 3rem;
  font-family: bold, sans-serif;
  width: calc(25% - 50px);
  border-radius: 0 50px 50px 0;
}

.firstSentence {
  padding: 50px 50px 50px 15px;
}

.secondSentence {
  border-radius: 50px 0 0 50px;
  padding: 50px 15px 50px 50px;
}
.logo {
  width: 33%;
}
.firstLayer {
  margin: 0 auto;
  width: 25em;
  height: 25em;
  background: rgba(66, 89, 177, 0.38);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
}
.secondLayer {
  width: 21em;
  height: 21em;
  background: rgba(66, 89, 177, 0.38);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
}
.thirdLayer {
  width: 17em;
  height: 17em;
  background: rgba(66, 89, 177, 0.38);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.thirdLayer i {
  position: absolute;
}
.fa-check {
  font-size: 12rem;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.fa-pen {
  font-size: 7rem;
  left: 60%;
  top: 45%;
  transform: translateX(-50%);
}

#getStarted {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin: 0 auto;
  font-size: 2rem;
  color: var(--color2);
  cursor: pointer;
}

/* Categories Pages */
.bgCategories {
  background-color: var(--color1);
  min-height: 100vh;
}
.addCategory {
  width: 100px;
  height: 100px;
  background-color: var(--color3);
  color: var(--color1);
  border-radius: 50%;
  font-size: 7rem;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoriesWrapper {
  width: 90vw;
  margin: 0 auto;
  margin-top: 50px;
  columns: 4;
  column-gap: 10px;
}
.newCategory {
  width: 250px;
  background-color: var(--color3);
  border-radius: 20px;
  padding: 10px;
  /* min-width: 320px; */
  margin-bottom: 10px;
  break-inside: avoid;
}
.categoryName {
  color: var(--color1);
}
.categoryNameInput {
  max-width: inherit;
  margin: 0 auto 10px 0;
  border-radius: 20px;
  padding: 10px;
}
.categoryName input::placeholder {
  font-size: 4rem;
}
.newTask {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color1);
  margin: 5px 10px 5px 0;
  border-radius: 20px;
  height: 50px;
  padding: 5px;
}

.newTask input,
.newTask input::placeholder {
  height: 20px;
  border-radius: 20px;
  background-color: var(--color2);
  color: var(--color1);
  border: none;
  padding: 5px;
  margin: 0 10px;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}
.actionButtons button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color2);
  color: var(--color1);
  border: none;
}
.addNewTask {
  width: 33%;
  margin: 10px auto;
  border-radius: 20px;
  height: 30px;
  color: var(--color2);
}
.done {
  text-decoration: line-through;
  color: gray;
}
