@font-face {
  font-family: bold;
  src: url(../fonts/Quicksand-Bold.ttf);
}
@font-face {
  font-family: regular;
  src: url(../fonts/Quicksand-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "regular", sans-serif;
  --color1: #ffffff;
  --color2: #4259b1;
  --color3: #003263;
}

body {
  background-color: var(--color3);
  color: var(--color3);
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 32px;
}

nav ul li {
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 0 0 50px 50px;
}

.categories {
  box-shadow: 0px 20px 0px #183d77;
}

.agenda {
  background-color: var(--color2);
  box-shadow: 0px 20px 0px rgba(66, 89, 177, 0.58);
}

.categories div,
.agenda div {
  background-color: var(--color1);
  padding: 0 20px;
  border-radius: 50px;
  margin: 20px 0;
}
h1 {
  margin-top: 50px;
  text-align: center;
  color: var(--color1);
  font-size: 6rem;
  text-decoration: underline;
  text-underline-offset: 15px;
  font-family: bold, sans-serif;
  text-shadow: 4px 8px 10px rgba(66, 89, 177, 0.58);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroWrapper {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.firstSentence,
.secondSentence {
  background-color: var(--color1);
  color: var(--color2);
  font-size: 3rem;
  font-family: bold, sans-serif;
  width: calc(25% - 50px);
  border-radius: 0 50px 50px 0;
}

.firstSentence {
  padding: 50px 50px 50px 15px;
}

.secondSentence {
  border-radius: 50px 0 0 50px;
  padding: 50px 15px 50px 50px;
}
.logo {
  width: 33%;
  /* display: flex;
  justify-content: center; */
}
.firstLayer {
  margin: 0 auto;
  width: 25em;
  height: 25em;
  background: rgba(66, 89, 177, 0.38);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
}
.secondLayer {
  width: 21em;
  height: 21em;
  background: rgba(66, 89, 177, 0.38);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
}
.thirdLayer {
  width: 17em;
  height: 17em;
  background: rgba(66, 89, 177, 0.38);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.thirdLayer i {
  position: absolute;
}
.fa-check {
  font-size: 12rem;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.fa-pen {
  font-size: 7rem;
  left: 60%;
  top: 45%;
  transform: translateX(-50%);
}

#getStarted {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin: 0 auto;
  font-size: 2rem;
  color: var(--color2);
}
